/* 여백 초기화 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* 폰트 초기화 */
body,
input,
textarea {
  color: #fff;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 리스트 초기화 */
ul,
li {
  list-style: none;
}

/* a 태그 초기화 */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #2ecc71;
}

/* 폰트 스타일 초기화 */
em {
  font-style: normal;
}

/* 반응형 이미지 */
img {
  width: 100%;
}
