/* layouts */
#contents {
  overflow: hidden;
}
#section1 {
  /* display: none; */
  background: #121313;
}
#section2 {
  position: relative;
  /* display: none; */
  background: url(../img/bg02.png) no-repeat top center;
  background-color: #121313;
  background-size: contain;
}
#section2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 55vw;
  background: linear-gradient(#121313, transparent), linear-gradient(transparent, #121313);
}
#section3 {
  position: relative;
  /* display: none; */
  background: url(../img/bg03.png) no-repeat top center;
  background-size: cover;
}
#section3::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#121313, transparent), linear-gradient(transparent 50%, #121313 100%);
  z-index: 10;
}
#section4 {
  /* display: none; */
  background-color: #121313;
}
#section5 {
  position: relative;
  /* display: none; */
  background: url(../img/bg04.png) no-repeat top center;
  background-size: cover;
  z-index: 10;
}
#section5::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#121313, transparent), linear-gradient(transparent 50%, #121313 100%);
}
#section6 {
  /* display: none; */
  background-color: #121313;
}
#section7 {
  position: relative;
  /* display: none; */
  background: url(../img/bg05.png) no-repeat top center;
  background-color: #121313;
  background-size: contain;
}
#section7::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 55vw;
  background: linear-gradient(#121313, transparent), linear-gradient(transparent 50%, #121313 100%);
}

/* container */
.container {
  margin: 0 auto;
  max-width: 1500px;
  /* background: rgba(255, 255, 255, 0.1); */
}

/* pre-loader */
#pre-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #262626;
  opacity: 1;
  z-index: 100;
}
#pre-loader.hidden {
  display: none;
}
.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.ring span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.ring span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* sec1 */
.sec1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.sec1 .bg {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 415px;
  height: 657px;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.sec1 .tit {
  font-family: 'miracle';
  font-size: 180px;
  line-height: 0.938;
  text-align: center;
  text-transform: uppercase;
  z-index: 20;
}
/* 한 글짜씩 나오기 */
.sec1 .tit span {
  display: inline-block;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateY(-100px) rotateZ(30deg);
}
.sec1 .tit span.show {
  opacity: 1;
  transform: translateY(0px) rotateZ(0deg);
}

/* sec2 */
.sec2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50vw;
}
.sec2 .tit {
  margin-left: 3%;
  margin-bottom: 92px;
  font-family: 'miracle';
  font-size: 130px;
  line-height: 0.938;
  text-transform: uppercase;
}
.sec2 .intro {
  align-self: flex-end;
  position: relative;
  margin-right: 16%;
  width: 32%;
}
.sec2 .intro em {
  position: absolute;
  left: -234px;
  top: 0;
  color: #dcd1ba;
  font-family: 'miracle';
  font-size: 40px;
  line-height: 0.938;
  text-align: right;
  text-transform: uppercase;
}
.sec2 .intro p {
  position: relative;
  padding-bottom: 66px;
  font-size: 18px;
  line-height: 1.78;
}
.sec2 .intro p::before {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  width: 85px;
  height: 1px;
  background-color: #dcd1ba;
}
.sec2 .intro .name {
  display: block;
  font-size: 18px;
  line-height: 1.78;
  text-align: right;
}
.sec2 .profile {
  align-self: flex-end;
  display: flex;
  margin-top: 237px;
  margin-right: 5%;
  padding-bottom: 50vh;
}
.sec2 .profile .info {
  display: flex;
  flex-direction: column;
  margin-right: 138px;
  font-family: 'miracle';
  text-align: right;
  text-transform: uppercase;
}
.sec2 .profile .info span {
  margin: 19px 0;
  font-size: 40px;
  line-height: 0.938;
}
.sec2 .profile .info em {
  color: #dcd1ba;
  font-size: 128px;
  line-height: 0.938;
}
/* 나타내기 */
.sec2 .tit {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateX(-50%);
}
.sec2 .tit.show {
  opacity: 1;
  transform: translateX(0%);
}
.sec2 .intro {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateX(50%);
}
.sec2 .intro.show {
  opacity: 1;
  transform: translateX(0%);
}
.sec2 .intro em {
  opacity: 0;
  transition: all 0.6s 0.2s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateX(-50%);
}
.sec2 .intro.show em {
  opacity: 1;
  transform: translateX(0%);
}
.sec2 .profile {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateX(50%);
}
.sec2 .profile.show {
  opacity: 1;
  transform: translateX(0%);
}
.sec2 .profile .info {
  opacity: 0;
  transition: all 0.4s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateX(-50%);
}
.sec2 .profile.show .info {
  opacity: 1;
  transform: translateX(0%);
}
.sec2 .profile .info em {
  opacity: 0;
  transition: all 0.4s 0.2s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateX(-20%);
}
.sec2 .profile.show .info em {
  opacity: 1;
  transform: translateX(0%);
}
.sec2 .profile .info span {
  opacity: 0;
  transition: all 0.4s 0.3s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateX(-20%);
}
.sec2 .profile.show .info span {
  opacity: 1;
  transform: translateX(0%);
}

/* sec3 */
.sec3 {
  position: relative;
  z-index: 20;
}
.sec3 .tit {
  display: flex;
  align-items: center;
  padding-left: 8%;
  height: 100vh;
  font-size: 130px;
  font-family: 'miracle';
  text-transform: uppercase;
}
/* 나타내기 */
.sec3 .tit span {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateX(-100px) rotateZ(-70deg);
}
.sec3 .tit span.show {
  opacity: 1;
  transform: rotateZ(0deg);
}

/* sec4 */
.sec4 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.sec4 .divider {
  position: relative;
  display: block;
  margin-bottom: 100px;
  padding-top: 102px;
  padding-bottom: 238px;
  /* background: #ddd; */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.433;
  text-align: center;
  text-transform: uppercase;
}
.sec4 .divider::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 186px;
  transform: translateX(-50%);
  background-color: #fff;
}
.sec4 .sites_cont {
  box-sizing: border-box;
}
.sec4 .sites_wrapper {
  display: flex;
  justify-content: space-between;
}
.sec4 .site {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30%;
  min-width: 100%;
  height: 100vh;
  /* background-color: #121313;  */
}
/* .sec4 .site:nth-child(even) {
  flex-direction: row-reverse;
} */
.sec4 .site .img {
  position: relative;
  flex: 0 0 46%;
  margin-right: 5%;
  /* background: #bbb; */
}
/* .sec4 .site:nth-child(even) .img {
  margin-right: 0%;
  margin-left: 5%;
} */
.sec4 .site .img .proj_tit {
  position: absolute;
  top: -17%;
  /* background: #aaa; */
  font-size: 130px;
  font-family: 'miracle';
  line-height: 0.938;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 10;
}
.sec4 .site .img img {
  position: relative;
  z-index: 20;
}
.sec4 .site .info {
  flex: 0 0 35%;
  padding-top: 208px;
  /* background: #ccc; */
}
.sec4 .site .info .desc {
  font-size: 20px;
  line-height: 1.665;
}
.sec4 .site .info .skills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  margin-top: 24px;
}
.sec4 .site .info .skills li {
  position: relative;
  margin-right: 6px;
  padding: 7px 20px 7px 46px;
  border-radius: 50px;
  background-color: #000;
  font-size: 16px;
  line-height: 1.665;
}
.sec4 .site .info .skills li::before {
  content: '';
  position: absolute;
  left: 19px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-size: contain;
}
.sec4 .site .info .skills li:nth-child(1)::before {
  background-image: url(../img/html5.png);
}
.sec4 .site .info .skills li:nth-child(2)::before {
  background-image: url(../img/css3.png);
}
.sec4 .site .info .skills li:nth-child(3)::before {
  background-image: url(../img/jquery.png);
}
.sec4 .site .info .btns {
  display: flex;
  margin-top: 31px;
  text-align: center;
  text-transform: uppercase;
}
.sec4 .site .info .btns li {
  margin-right: 7px;
}
.sec4 .site .info .btns li:last-child {
  margin-right: 0;
}
.sec4 .site .info .btns a {
  display: block;
  padding: 11px 0;
  width: 181px;
  border: 1px solid #fff;
  font-family: 'S-CoreDream-3Light';
  font-size: 16px;
  line-height: 1.665;
}

/* site1 */
.sec4 .site1 .img .proj_tit {
  left: 26%;
}

/* site2 */
.sec4 .site2 .img .proj_tit {
  left: 50%;
}

/* site3 */
.sec4 .site3 .img .proj_tit {
  left: 70%;
}

/* sec5 */
.sec5 {
  position: relative;
  z-index: 20;
}
.sec5 .tit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'miracle';
  font-size: 130px;
  text-transform: uppercase;
}
/* 나타내기 */
.sec5 .tit span {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0.66, 0.38, 1.01);
  transform: translateX(-100px) rotateZ(-70deg);
}
.sec5 .tit span.show {
  opacity: 1;
  transform: rotateZ(0deg);
}

/* sec6 */
.sec6 {
  position: relative;
}
.sec6 .divider {
  position: relative;
  display: block;
  margin-bottom: 100px;
  padding-top: 102px;
  padding-bottom: 238px;
  /* background: #ddd; */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.433;
  text-align: center;
  text-transform: uppercase;
}
.sec6 .divider::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 186px;
  transform: translateX(-50%);
  background-color: #fff;
}
.sec6 .sites_cont {
  box-sizing: border-box;
}
.sec6 .sites_wrapper {
  display: flex;
  justify-content: space-between;
}
.sec6 .site {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30%;
  min-width: 100%;
  height: 100vh;
  /* background-color: #121313; */
}
/* .sec6 .site:nth-child(even) {
  flex-direction: row-reverse;
} */
.sec6 .site .img {
  position: relative;
  flex: 0 0 48%;
  margin-right: 5%;
  /* background: #bbb; */
}
/* .sec6 .site:nth-child(even) .img {
  margin-right: 0%;
  margin-left: 5%;
} */
.sec6 .site .img .proj_tit {
  position: absolute;
  top: -22.5%;
  /* background: #aaa; */
  font-size: 130px;
  font-family: 'miracle';
  line-height: 0.938;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 10;
}
.sec6 .site .img img {
  position: relative;
  z-index: 20;
}
.sec6 .site .info {
  flex: 0 0 37%;
  padding-top: 38px;
  /* background: #ccc; */
}
.sec6 .site .info .desc {
  font-size: 20px;
  line-height: 1.665;
}
.sec6 .site .info .skills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  margin-top: 24px;
}
.sec6 .site .info .skills li {
  position: relative;
  margin-right: 6px;
  padding: 7px 20px 7px 46px;
  border-radius: 50px;
  background-color: #000;
  font-size: 16px;
  line-height: 1.665;
}
.sec6 .site .info .skills li::before {
  content: '';
  position: absolute;
  left: 19px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-size: contain;
}
.sec6 .site .info .skills li:nth-child(1)::before {
  background-image: url(../img/html5.png);
}
.sec6 .site .info .skills li:nth-child(2)::before {
  background-image: url(../img/css3.png);
}
.sec6 .site .info .skills li:nth-child(3)::before {
  background-image: url(../img/jquery.png);
}
.sec6 .site .info .btns {
  display: flex;
  margin-top: 31px;
  text-align: center;
  text-transform: uppercase;
}
.sec6 .site .info .btns li {
  margin-right: 7px;
}
.sec6 .site .info .btns li:last-child {
  margin-right: 0;
}
.sec6 .site .info .btns a {
  display: block;
  padding: 11px 0;
  width: 181px;
  border: 1px solid #fff;
  font-family: 'S-CoreDream-3Light';
  font-size: 16px;
  line-height: 1.665;
}

/* site1 */
.sec6 .site1 .img .proj_tit {
  left: 41%;
}
.sec6 .site1 .info .skills li:nth-child(1)::before {
  background-image: url(../img/react.png);
}
.sec6 .site1 .info .skills li:nth-child(2)::before {
  background-image: url(../img/react-router-dom.png);
}
.sec6 .site1 .info .skills li:nth-child(3)::before {
  background-image: url(../img/axios.png);
}
.sec6 .site1 .info .skills li:nth-child(4)::before {
  background-image: url(../img/styled-components.png);
}
.sec6 .site1 .info .skills li:nth-child(5)::before {
  background-image: url(../img/redux.png);
}
.sec6 .site1 .info .skills li:nth-child(6)::before {
  background-image: url(../img/redux.png);
}

/* site2 */
.sec6 .site2 .img .proj_tit {
  left: 65%;
}
.sec6 .site2 .info {
  padding-top: 77px;
}
.sec6 .site2 .info .skills li:nth-child(1)::before {
  background-image: url(../img/react.png);
}
.sec6 .site2 .info .skills li:nth-child(2)::before {
  background-image: url(../img/react-router-dom.png);
}
.sec6 .site2 .info .skills li:nth-child(3)::before {
  background-image: url(../img/axios.png);
}
.sec6 .site2 .info .skills li:nth-child(4)::before {
  background-image: url(../img/styled-components.png);
}

/* sec7 */
.sec7 {
  position: relative;
  padding-top: 42vw;
  padding-bottom: 5vh;
}
.sec7 .tit {
  margin-left: 3%;
  font-family: 'miracle';
  font-size: 130px;
  line-height: 0.938;
  text-transform: uppercase;
}
.sec7 .cont {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  width: 94%;
}
.sec7 .cont .left {
  flex: 0 0 50%;
  /* margin-left: 3%; */
  /* background: #aaa; */
}
.sec7 .cont .left ul {
  display: flex;
  margin-bottom: 15px;
}
.sec7 .cont .left li {
  position: relative;
  margin-right: 6px;
}
.sec7 .cont .left li:last-child {
  margin-right: 0;
}
.sec7 .cont .left li::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.sec7 .cont .left li a {
  display: inline-block;
  padding: 7px 19px 7px 47px;
  background-color: #000;
  border-radius: 50px;
  font-size: 16px;
  line-height: 1.665;
}
.sec7 .cont .right {
  flex: 0 0 40%;
  margin-right: 7%;
  /* background: #bbb; */
}
.sec7 .cont .right form {
  display: flex;
  flex-direction: column;
}
.sec7 .cont .right label {
}
.sec7 .cont .right input {
  margin-bottom: 18px;
  padding: 16px 20px;
  background-color: #1f1f1f;
  border: none;
  color: #fff;
  font-family: 'S-CoreDream-3Light';
  font-size: 16px;
  line-height: 1.665;
}
.sec7 .cont .right input::placeholder {
  text-transform: uppercase;
}
.sec7 .cont .right textarea {
  margin-bottom: 28px;
  padding: 16px 20px;
  height: 220px;
  background-color: #1f1f1f;
  border: none;
  color: #fff;
  font-family: 'S-CoreDream-3Light';
  font-size: 16px;
  line-height: 1.665;
  resize: none;
}
.sec7 .cont .right textarea::placeholder {
  text-transform: uppercase;
}
.sec7 .cont .right button {
  align-self: flex-end;
  padding: 12px 0;
  width: 40%;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 16px;
  line-height: 1.665;
  line-height: 1.665;
  text-transform: uppercase;
  cursor: pointer;
}

/* notes */
.sec7 .cont .left .notes li:nth-child(1):before {
  background-image: url(../img/github.png);
}
.sec7 .cont .left .notes li:nth-child(2):before {
  background-image: url(../img/gitbook.png);
}
.sec7 .cont .left .notes li:nth-child(3):before {
  background-image: url(../img/notion.png);
}
/* study */
.sec7 .cont .left .study li:nth-child(1):before {
  background-image: url(../img/sdos2107.png);
}
.sec7 .cont .left .study li:nth-child(2):before {
  background-image: url(../img/altong.png);
}
.sec7 .cont .left .study li:nth-child(3):before {
  background-image: url(../img/webs.png);
}

/* media query */
/* 1201px ~ 1500px */
@media (max-width: 1500px) {
  /* sec4 */
  .sec4 .divider {
    margin-bottom: 6.5vw;
    font-size: 1.2vw;
  }
  .sec4 .site .img .proj_tit {
    font-size: 8.7vw;
  }
  .sec4 .site .info {
    padding-top: 14vw;
  }
  .sec4 .site .info .desc {
    font-size: 1.33vw;
  }
  .sec4 .site .info .skills li {
    font-size: 1.05vw;
  }
  .sec4 .site .info .skills li::before {
    top: 0.6vw;
  }
  .sec4 .site .info .btns a {
    font-size: 1.05vw;
  }

  /* sec6 */
  .sec6 .divider {
    margin-bottom: 6.5vw;
    font-size: 1.2vw;
  }
  .sec6 .site .img .proj_tit {
    font-size: 8.7vw;
  }
  .sec6 .site .info {
    padding-top: 1vw;
  }
  .sec6 .site .info .desc {
    font-size: 1.33vw;
  }
  .sec6 .site .info .skills li {
    font-size: 1.05vw;
  }
  .sec6 .site .info .skills li::before {
    top: 0.6vw;
  }
  .sec6 .site .info .btns a {
    font-size: 1.05vw;
  }
}

/* 980px ~ 1200px */
@media (max-width: 1200px) {
  /* sec1 */
  .sec1 .bg {
    width: 34.5vw;
    height: 54.5vw;
  }
  .sec1 .tit {
    font-size: 15vw;
  }

  /* sec2 */
  .sec2 .tit {
    margin-bottom: 8vw;
    font-size: 10.8vw;
  }
  .sec2 .intro em {
    left: -62%;
    font-size: 3.35vw;
  }
  .sec2 .intro p {
    padding-bottom: 5.5vw;
    font-size: 1.5vw;
  }
  .sec2 .intro p::before {
    left: 0;
    top: 1vw;
    width: 22.4%;
  }
  .sec2 .intro .name {
    font-size: 1.5vw;
  }
  .sec2 .profile {
    margin-top: 19.8vw;
    padding-bottom: 50vw;
  }
  .sec2 .profile .info {
    margin-right: 11vw;
  }
  .sec2 .profile .info span {
    margin: 1.3vw 0;
    font-size: 3.4vw;
  }
  .sec2 .profile .info em {
    font-size: 10.8vw;
  }
  .sec2 .profile .avatar {
    width: 34.2vw;
  }

  /* sec3 */
  .sec3 .tit {
    font-size: 10.8vw;
  }

  /* sec5 */
  .sec5 .tit {
    font-size: 10.8vw;
  }

  /* sec7 */
  .sec7 .tit {
    font-size: 10.8vw;
  }
  .sec7 .cont {
    flex-direction: column;
    margin-top: 9vw;
  }
  .sec7 .cont .right {
    width: 60%;
    align-self: flex-end;
    margin-top: 5%;
  }
}

/* 769px ~ 980px */
@media (max-width: 980px) {
  /* sec4 */
  .sec4 .site {
    flex-direction: column;
  }
  .sec4 .site:nth-child(even) {
    flex-direction: column;
  }
  .sec4 .site .img {
    flex-basis: auto;
    width: 63%;
    margin-right: 0;
  }
  .sec4 .site:nth-child(even) .img {
    margin-left: 0;
  }
  .sec4 .site .img .proj_tit {
    top: -12%;
  }
  .sec4 .site .info {
    flex-basis: auto;
    margin-top: 5%;
    padding-top: 0;
    width: 60%;
  }
  /* site1 */
  .sec4 .site1 .img .proj_tit {
    left: 15%;
  }
  /* site2 */
  .sec4 .site2 .img .proj_tit {
    left: 17%;
  }
  /* site3 */
  .sec4 .site3 .img .proj_tit {
    left: 28%;
  }

  /* sec6 */
  .sec6 .site {
    flex-direction: column;
  }
  .sec6 .site:nth-child(even) {
    flex-direction: column;
  }
  .sec6 .site .img {
    flex-basis: auto;
    width: 63%;
    margin-right: 0;
  }
  .sec6 .site:nth-child(even) .img {
    margin-left: 0;
  }
  .sec6 .site .img .proj_tit {
    top: -16%;
  }
  .sec6 .site .info {
    flex-basis: auto;
    margin-top: 5%;
    padding-top: 0;
    width: 60%;
  }
  /* site1 */
  .sec6 .site1 .img .proj_tit {
    left: 18%;
  }
  /* site2 */
  .sec6 .site2 .img .proj_tit {
    left: 45%;
  }

  /* sec7 */
  .sec7 .cont .right {
    width: 100%;
    margin-top: 5%;
    margin-right: 0;
  }
}

/* 636px ~ 768px */
@media (max-width: 768px) {
}

/* 481px ~ 635px */
@media (max-width: 635px) {
  /* sec2 */
  .sec2 .intro {
    width: 38%;
  }

  /* sec4 */
  .sec4 .site .info .btns {
    justify-content: space-between;
  }
  .sec4 .site .info .btns li {
    flex: 0 0 48%;
    margin-right: 0;
  }
  .sec4 .site .info .btns a {
    width: 100%;
  }

  /* sec6 */
  .sec6 .site .info .btns {
    justify-content: space-between;
  }
  .sec6 .site .info .btns li {
    flex: 0 0 48%;
    margin-right: 0;
  }
  .sec6 .site .info .btns a {
    width: 100%;
  }

  /* sec7 */
  .sec7 .cont .left li a {
    font-size: 2.3vw;
  }
}

/* 0px ~ 480px */
@media (max-width: 480px) {
  /* sec2 */
  .sec2 .tit {
    margin-left: 4%;
  }
  .sec2 .intro {
    margin-right: 11%;
    width: 42%;
  }
}
