@font-face {
    font-family: 'house';
    font-weight: normal; 
    font-style: normal; 
    src: url(../fonts/house.woff) format('woff');
    font-display: swap;
}

/* layout */
#contents {}
#section1 {
    height: 100vh;
    background: #DDDAD8;
}
#section2 {
    height: 2000px;
    background: #000;
}
#section3 {}
#section4 {}
#section5 {}
#section6 {}


/* sec1 */
.sec1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'house';
    color: #E7544C;
}
.sec1 .left {
    flex: 0 0 50%;
    text-align: right;
}
.sec1 .right {
    flex: 0 0 50%;
    text-align: left;
}
.sec1 em {
    display: block;
    font-size: 3vw;
    font-family: 'Cinzel', serif;
    color:#000;
    text-transform: uppercase;
}
.sec1 strong {
    font-size: 44vw;
    line-height: .81;
}
.sec1 .right strong {
    line-height: .71;
}