@font-face {
    font-family: 'house';
    font-weight: normal; 
    font-style: normal; 
    src: url(../fonts/house.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* container */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* layout */
#contents {}
#section1 {
    height: 100vh;
    background: #DDDAD8;
}
#section2 {
    background: #232326;
}
#section3 {
    height: 100vh;
    background: #DDDAD8;
}
#section4 {}
#section5 {}
#section6 {}


/* sec1 */
.sec1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'house';
    color: #E7544C;
}
.sec1 .left {
    flex: 0 0 50%;
    text-align: right;
}
.sec1 .right {
    flex: 0 0 50%;
    text-align: left;
}
.sec1 em {
    display: block;
    font-size: 3vw;
    font-family: 'Cinzel', serif;
    color:#000;
    text-transform: uppercase;
}
.sec1 strong {
    font-size: 44vw;
    line-height: .81;
}
.sec1 .right strong {
    line-height: .71;
}


/* sec2 */
.sec2 {
    position: relative;
    padding-bottom: 150px;
}
.sec2 .site {
    height: 400vh;
    display: flex;
}
.sec2 .site:nth-child(even) {
    flex-direction: row-reverse;
}
.sec2 .site .num {
    flex: 0 0 30%;
    color:#B9F2C3;
    font-family: 'house', serif;
    font-size: 40vw;
    line-height: 1;
    position: sticky;
    top: 0;
    height: 30vw;
    z-index: 1000;

    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #0D47A1; */
}
.sec2 .site .board {
    flex: 0 0 70%;
    background: red;
}







/* sec3 */
.sec3 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'house';
    color: #E7544C;
}
.sec3 .left {
    flex: 0 0 50%;
    text-align: right;
}
.sec3 .right {
    flex: 0 0 50%;
    text-align: left;
}
.sec3 em {
    display: block;
    font-size: 3vw;
    font-family: 'Cinzel', serif;
    color:#000;
    text-transform: uppercase;
}
.sec3 strong {
    font-size: 44vw;
    line-height: .81;
}
.sec3 .right strong {
    line-height: .71;
}
