/* layouts */
#contents {
}
#section1 {
  background: #121313;
}

/* container */
.container {
  margin: 0 auto;
  width: 1400px;
  background: rgba(255, 255, 255, 0.1);
}

/* sec1 */
.sec1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.sec1 .img {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 415px;
  height: 657px;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.sec1 .tit {
  font-family: 'miracle';
  font-size: 180px;
  text-align: center;
  text-transform: uppercase;
  z-index: 20;
}
